/* helper class */
*::-webkit-scrollbar-track {
	background-color: #cccccc;
}

*::-webkit-scrollbar {
	width: 12px;
	height: 12px;
	background-color: #cccccc;
}

*::-webkit-scrollbar-thumb {
	background-color: black;
	border-radius: 5px;
}

::-webkit-input-placeholder {
	font-family: 'Prompt', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

::-moz-placeholder {
	font-family: 'Prompt', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

:-ms-input-placeholder {
	font-family: 'Prompt', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

::-ms-input-placeholder {
	font-family: 'Prompt', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

::placeholder {
	font-family: 'Prompt', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.h-100 {
	height: 100%;
}

.bold {
  font-weight: bold;
}

.text-indent {
	text-indent: 20pt;
}

.position-relative,
.pos-rel {
  position: relative;
}

.position-absolute,
.pos-abs {
  position: absolute;
}

.line-height-0 {
  line-height: 0 !important;
}

.line-height-1 {
  line-height: 1 !important;
}

.line-height-125 {
  line-height: 1.25 !important;
}

.line-height-150 {
  line-height: 1.5 !important;
}

.bigger-110 {
  font-size: 110% !important;
}

.bigger-120 {
  font-size: 120% !important;
}

.bigger-130 {
  font-size: 130% !important;
}

.bigger-140 {
  font-size: 140% !important;
}

.bigger-150 {
  font-size: 150% !important;
}

.bigger-160 {
  font-size: 160% !important;
}

.bigger-170 {
  font-size: 170% !important;
}

.bigger-180 {
  font-size: 180% !important;
}

.bigger-190 {
  font-size: 190% !important;
}

.bigger-200 {
  font-size: 200% !important;
}

.bigger-125 {
  font-size: 125% !important;
}

.bigger-175 {
  font-size: 175% !important;
}

.smaller-90 {
  font-size: 90% !important;
}

.smaller-80 {
  font-size: 80% !important;
}

.smaller-70 {
  font-size: 70% !important;
}

.smaller-60 {
  font-size: 60% !important;
}

.smaller-50 {
  font-size: 50% !important;
}

.smaller-40 {
  font-size: 40% !important;
}

.smaller-30 {
  font-size: 30% !important;
}

.smaller-20 {
  font-size: 20% !important;
}

.smaller-75 {
  font-size: 75% !important;
}

.no-gutters {
  margin-left: 0px;
  margin-right: 0px;
}

.no-gutters>.col,
.no-gutters>[class*=col-] {
  padding-left: 0px;
  padding-right: 0px;
}

.img-4by3 {
  position: relative;
  width: 100%;
  padding-top: 75%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.img-16by9 {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.img-custom-ratio {
  position: relative;
  width: 100%;
  padding-top: 36.25%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.img-4by3-v {
  position: relative;
  width: 100%;
  padding-top: 133.33%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.img-16by9-v {
  position: relative;
  width: 100%;
  padding-top: 177.77%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.img-1by1 {
  position: relative;
  width: 100%;
  padding-top: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.img-4by3.holder>img,
.img-16by9.holder>img,
.img-4by3-v.holder>img,
.img-16by9-v.holder>img,
.img-1by1.holder>img,
.img-custom-ratio.holder>img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.viewpoint-animate {
  visibility: hidden;
}

.animated.t1s {
  animation-duration: 1s;
}

.animated.t2s {
  animation-duration: 2s;
}

.animated.t3s {
  animation-duration: 3s;
}

.animated.d02s {
  animation-delay: 0.2s;
}

.animated.d03s {
  animation-delay: 0.3s;
}

.animated.d05s {
  animation-delay: 0.5s;
}

.animated.d07s {
  animation-delay: 0.7s;
}

.animated.d1s {
  animation-delay: 1s;
}

.animated.d1hs {
  animation-delay: 1.5s;
}

.animated.d2s {
  animation-delay: 2s;
}

.animated.d2hs {
  animation-delay: 2.5s;
}

.animated.d3s {
  animation-delay: 3s;
}

.animated.d3hs {
  animation-delay: 3.5s;
}

.shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
}

.shadow-1 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
}
/* end helper class */